* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    background-color: #2c2c2c;
}

#header {
    background-color: #454545;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addBookBtn {
    background-color: #6c63ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

table {
    width: 800px;
    border: #ffffff solid 2px;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
}

thead {
    color: rgb(180, 180, 180);
    border-bottom: #ffffff solid 2px;
    font-size: 1.5em;
}

.deleteBtn {
    background-color: #ff4c4c;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 50%;
    cursor: pointer;
}